<header>
    <nav>
        <div class="logo">
            <%= image_tag "logovlute.png",  width: 50 %>
            Hệ Thống Tư Vấn Tuyển Sinh
        </div>
        <ul class="menu">
            <li><%= link_to "Trang chủ", trangchu_index_path %></li>
            <li><%= link_to "Thông Tin Trường", thongtintruong_thongtintruong_path %></li>
            <li><%= link_to "Tin Tức", tintuc_tintuc_path %></li>
            <li><%= link_to "Ngành Học", nganh_nganh_path %></li>
            <li><%= link_to "Lịch Tuyển Sinh", lichtuyensinh_lichtuyensinh_path %></li>
            <li><%= link_to "Nộp hồ sơ", nophoso_nophoso_path %></li>
            <li><%= link_to "Đăng nhập", dangnhap_dangnhap_path %></li>
        </ul>
    </nav>
</header>
<div class="login">
    <form class="login_form" method="POST" action="/dangnhap/login">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <label>ĐĂNG NHẬP</label>
        <table>
            <tr>
                <th>User: </th>
                <th><input type="text" id="username" name="username" placeholder="Nhập tài khoản"></th>
            </tr>
            <tr>
                <th>Password: </th>
                <th><input type="password" id="password" name="password" placeholder="Nhập mật khẩu"></th>
            </tr>
            <tr>
                <th></th>
                <th><%= link_to "Quên mật khẩu?", "#", class: "forgot" %></th>
            </tr>
            <tr>
                <th><%= link_to "Đăng ký tài khoản", dangkytk_dangkytk_path %></th>
                <th><button type ="submit">Đăng nhập</button></th>
            </tr>
        </table>
    </form>
</div>
