<% if notice %>
    <script>
        alert("<%= notice %>");
    </script>
<% end %>

<% if alert %>
    <script>
        alert("<%= alert %>");
    </script>
<% end %>
<header>
    <nav>
        <div class="logo">
            <%= image_tag "logovlute.png",  width: 50 %>
            Hệ Thống Tư Vấn Tuyển Sinh
        </div>
        <ul class="menu">
            <li><%= link_to "Trang chủ", trangchu_index_path %></li>
            <li><%= link_to "Thông Tin Trường", thongtintruong_thongtintruong_path %></li>
            <li><%= link_to "Tin Tức", tintuc_tintuc_path %></li>
            <li><%= link_to "Ngành Học", nganh_nganh_path %></li>
            <li><%= link_to "Lịch Tuyển Sinh", lichtuyensinh_lichtuyensinh_path %></li>
            <li><%= link_to "Nộp hồ sơ", nophoso_nophoso_path %></li>

            <% if current_user &&
                current_user.VAITRO == "ADMIN" %>
                <li class="dropdown">
                    <%= link_to "Quản trị viên", "#" %>
                    <ul class="dropdown-menu">
                        <li><%= link_to "Quản lý tài khoản", qltaikhoan_qltaikhoan_path %></li>
                        <li><%= link_to "Quản lý tin tức", qltintuc_qltintuc_path %></li>
                        <li><%= link_to "Quản lý khoa - đơn vị", qlkhoa_dv_qlkhoa_dv_path %></li>
                        <li><%= link_to "Quản lý hồ sơ", xlhoso_xlhoso_path %></li>
                        <li><%= link_to "Quản lý đợt tuyển sinh","/quanlydot" %></li>
                        <li><%= link_to "Quản lý điểm chuẩn","/qldiemchuan" %></li>
                        <li><%= link_to "Thống kê báo cáo", thongkebaocao_thongkebaocao_path %></li>
                    </ul>
                </li>
            <% end %>
            <% if current_user %>
    <li class="user-dropdown">
        <a href="#" class="user-name">
             <%= current_user.USERNAME %>
        </a>
        <ul class="user-dropdown-menu">
            <li><%= link_to "Thông tin tài khoản", thongtintaikhoan_thongtintaikhoan_path %></li>
            <li>
                <%= button_to "Đăng xuất",
                "/dangnhap/logout",
                method: :delete,
                class: "logout-btn",
                form: { style: "display:inline;" } %>
            </li>
        </ul>
    </li>
<% else %>
    <li>
        <%= link_to "Đăng nhập", dangnhap_dangnhap_path %>
    </li>
<% end %>
        </ul>
    </nav>
</header>
<div class="content">
    <label><h1>NỘP HỒ SƠ ĐĂNG KÝ TUYỂN SINH</h1></label>
    <div class="thanh-menu">
        <div class="menu2 active">Bước 1</div>
        <div class="menu2">Bước 2</div>
        <div class="menu2">Bước 3</div>
        <div class="menu2">Bước 4</div>
    </div>
    <form
        class="form_thisinh"
        action="/nophoso/create"
        method="POST"
        enctype="multipart/form-data">

        <%= hidden_field_tag :authenticity_token,
        form_authenticity_token %>
        <div class="form-menu active">
            <label><h3>Thông tin cá nhân</h3></label>
            <table>
                <tr>
                    <th>Họ và tên: </th>
                    <th>
                        <input type="text" name="HOTENTS" placeholder="Nhập họ và tên" required>
                    </th>
                </tr>

                <tr>
                    <th>Giới tính: </th>
                    <th>
                        <select name="GIOITINH" required>
                            <option value="">-- Chọn giới tính --</option>
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                    </th>
                </tr>

                <tr>
                    <th>Nơi sinh: </th>
                    <th>
                        <select name="NOISINH" required>
                            <option value="">-- Chọn tỉnh --</option>
                            <option value="An Giang">An Giang</option>
                            <option value="Bắc Giang">Bắc Giang</option>
                            <option value="Bắc Ninh">Bắc Ninh</option>
                            <option value="Bến Tre">Bến Tre</option>
                            <option value="Bình Dương">Bình Dương</option>
                            <option value="Bình Định">Bình Định</option>
                            <option value="Cà Mau">Cà Mau</option>
                            <option value="Cần Thơ">Cần Thơ</option>
                            <option value="Cao Bằng">Cao Bằng</option>
                            <option value="Đà Nẵng">Đà Nẵng</option>
                            <option value="Đắk Lắk">Đắk Lắk</option>
                            <option value="Điện Biên">Điện Biên</option>
                            <option value="Đồng Nai">Đồng Nai</option>
                            <option value="Đồng Tháp">Đồng Tháp</option>
                            <option value="Gia Lai">Gia Lai</option>
                            <option value="Hà Nội">Hà Nội</option>
                            <option value="Hà Tĩnh">Hà Tĩnh</option>
                            <option value="Hải Phòng">Hải Phòng</option>
                            <option value="Hưng Yên">Hưng Yên</option>
                            <option value="Khánh Hòa">Khánh Hòa</option>
                            <option value="Lai Châu">Lai Châu</option>
                            <option value="Lâm Đồng">Lâm Đồng</option>
                            <option value="Lạng Sơn">Lạng Sơn</option>
                            <option value="Lào Cai">Lào Cai</option>
                            <option value="Nghệ An">Nghệ An</option>
                            <option value="Ninh Bình">Ninh Bình</option>
                            <option value="Phú Thọ">Phú Thọ</option>
                            <option value="Quảng Ngãi">Quảng Ngãi</option>
                            <option value="Quảng Ninh">Quảng Ninh</option>
                            <option value="Thanh Hóa">Thanh Hóa</option>
                            <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
                            <option value="TP. Hồ Chí Minh">TP. Hồ Chí Minh</option>
                            <option value="Tuyên Quang">Tuyên Quang</option>
                            <option value="Vĩnh Long">Vĩnh Long</option>
                        </select>
                    </th>
                </tr>

                <tr>
                    <th>Dân tộc: </th>
                    <th>
                        <select name="DANTOC" required>
                            <option value="">-- Chọn dân tộc --</option>
                            <option value="Kinh">Kinh</option>
                            <option value="Tày">Tày</option>
                            <option value="Thái">Thái</option>
                            <option value="Mường">Mường</option>
                            <option value="Khmer">Khmer</option>
                            <option value="Hoa">Hoa</option>
                            <option value="Nùng">Nùng</option>
                            <option value="H'Mông">H'Mông</option>
                            <option value="Dao">Dao</option>
                            <option value="Gia Rai">Gia Rai</option>
                            <option value="Ê Đê">Ê Đê</option>
                            <option value="Ba Na">Ba Na</option>
                            <option value="Sán Chay">Sán Chay</option>
                            <option value="Chăm">Chăm</option>
                            <option value="Cơ Ho">Cơ Ho</option>
                            <option value="Xơ Đăng">Xơ Đăng</option>
                            <option value="Sán Dìu">Sán Dìu</option>
                            <option value="Hrê">Hrê</option>
                            <option value="Ra Glai">Ra Glai</option>
                            <option value="M'nông">M'nông</option>
                            <option value="Thổ">Thổ</option>
                            <option value="Khơ Mú">Khơ Mú</option>
                            <option value="Bru - Vân Kiều">Bru - Vân Kiều</option>
                            <option value="Cơ Tu">Cơ Tu</option>
                            <option value="Giáy">Giáy</option>
                            <option value="Tà Ôi">Tà Ôi</option>
                            <option value="Mạ">Mạ</option>
                            <option value="Giẻ Triêng">Giẻ Triêng</option>
                            <option value="Co">Co</option>
                            <option value="Chơ Ro">Chơ Ro</option>
                            <option value="Xinh Mun">Xinh Mun</option>
                            <option value="Hà Nhì">Hà Nhì</option>
                            <option value="Chu Ru">Chu Ru</option>
                            <option value="Lào">Lào</option>
                            <option value="La Chí">La Chí</option>
                            <option value="La Ha">La Ha</option>
                            <option value="Phù Lá">Phù Lá</option>
                            <option value="La Hủ">La Hủ</option>
                            <option value="Lự">Lự</option>
                            <option value="Lô Lô">Lô Lô</option>
                            <option value="Chứt">Chứt</option>
                            <option value="Mảng">Mảng</option>
                            <option value="Pà Thẻn">Pà Thẻn</option>
                            <option value="Cơ Lao">Cơ Lao</option>
                            <option value="Cống">Cống</option>
                            <option value="Bố Y">Bố Y</option>
                            <option value="Si La">Si La</option>
                            <option value="Pu Péo">Pu Péo</option>
                            <option value="Brâu">Brâu</option>
                            <option value="Ơ Đu">Ơ Đu</option>
                            <option value="Rơ Măm">Rơ Măm</option>
                            <option value="Ngái">Ngái</option>
                            <option value="Kháng">Kháng</option>
                        </select>
                    </th>
                </tr>

                <tr>
                    <th>Ngày sinh: </th>
                    <th>
                        <input type="date" name="NGAYSINH" required>
                    </th>
                </tr>

                <tr>
                    <th>Giấy khai sinh: </th>
                    <th>
                        <label class="file" for="filegiayks"></label>
                        <input type="file" id="filegiayks" name="GIAYKHAISINH" accept=".pdf,.jpg,.jpeg,.png" multiple required>
                    </th>
                </tr>

                <tr>
                    <th>Số CCCD: </th>
                    <th>
                        <input type="text" name="SOCCCD"  placeholder="Nhập số căn cước công dân" required>
                    </th>
                </tr>

                <tr>
                    <th>CCCD mặt trước: </th>
                    <th>
                        <label class="file" for="filecccdt"> </label>
                        <input type="file" id="filecccdt" name="ANHCCCDT" accept=".pdf,.jpg,.jpeg,.png" multiple required>
                    </th>
                </tr>

                <tr>
                    <th>CCCD mặt sau: </th>
                    <th>
                        <label class="file" for="filecccds"></label>
                        <input type="file" id="filecccds" name="ANHCCCDS" accept=".pdf,.jpg,.jpeg,.png" multiple required>
                    </th>
                </tr>

                <tr>
                    <th>Tỉnh thường trú: </th>
                    <th>
                        <select name="TINHTT" required>
                            <option value="">-- Chọn tỉnh --</option>
                            <option value="An Giang">An Giang</option>
                            <option value="Bắc Giang">Bắc Giang</option>
                            <option value="Bắc Ninh">Bắc Ninh</option>
                            <option value="Bến Tre">Bến Tre</option>
                            <option value="Bình Dương">Bình Dương</option>
                            <option value="Bình Định">Bình Định</option>
                            <option value="Cà Mau">Cà Mau</option>
                            <option value="Cần Thơ">Cần Thơ</option>
                            <option value="Cao Bằng">Cao Bằng</option>
                            <option value="Đà Nẵng">Đà Nẵng</option>
                            <option value="Đắk Lắk">Đắk Lắk</option>
                            <option value="Điện Biên">Điện Biên</option>
                            <option value="Đồng Nai">Đồng Nai</option>
                            <option value="Đồng Tháp">Đồng Tháp</option>
                            <option value="Gia Lai">Gia Lai</option>
                            <option value="Hà Nội">Hà Nội</option>
                            <option value="Hà Tĩnh">Hà Tĩnh</option>
                            <option value="Hải Phòng">Hải Phòng</option>
                            <option value="Hưng Yên">Hưng Yên</option>
                            <option value="Khánh Hòa">Khánh Hòa</option>
                            <option value="Lai Châu">Lai Châu</option>
                            <option value="Lâm Đồng">Lâm Đồng</option>
                            <option value="Lạng Sơn">Lạng Sơn</option>
                            <option value="Lào Cai">Lào Cai</option>
                            <option value="Nghệ An">Nghệ An</option>
                            <option value="Ninh Bình">Ninh Bình</option>
                            <option value="Phú Thọ">Phú Thọ</option>
                            <option value="Quảng Ngãi">Quảng Ngãi</option>
                            <option value="Quảng Ninh">Quảng Ninh</option>
                            <option value="Thanh Hóa">Thanh Hóa</option>
                            <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
                            <option value="TP. Hồ Chí Minh">TP. Hồ Chí Minh</option>
                            <option value="Tuyên Quang">Tuyên Quang</option>
                            <option value="Vĩnh Long">Vĩnh Long</option>
                        </select>
                    </th>
                </tr>

                <tr>
                    <th>Đối tượng ưu tiên: </th>
                    <th>
                        <select name="DTUT" required>
                            <option value="">Không thuộc đối tượng nào</option>
                            <option value="Đối tượng 1">Đối tượng 1</option>
                            <option value="Đối tượng 2">Đối tượng 2</option>
                            <option value="Đối tượng 3">Đối tượng 3</option>
                            <option value="Đối tượng 4">Đối tượng 4</option>
                            <option value="Đối tượng 5">Đối tượng 5</option>
                        </select>
                    </th>
                </tr> 

                 <tr>
                    <th>Khu vực ưu tiên: </th>
                    <th>
                        <select name="KVUT" required>
                            <option value="">--Chọn--</option>
                            <option value="KV 1">KV 1</option>
                            <option value="KV 2-NT">KV 2-NT</option>
                            <option value="KV 2">KV 2</option>
                            <option value="KV 3">KV 3</option>
                        </select>
                    </th>
                </tr> 

                <tr>
                    <th>Năm tốt nghiệp: </th>
                    <th>
                        <input type="number" name="NAMTN" placeholder="Nhập năm tốt nghiệp" required>
                    </th>
                </tr>

                <tr>
                    <th>Nơi học lớp 12: </th>
                    <th>
                        <select name="NOIHOC12" required>
                            <option value="">-- Chọn tỉnh --</option>
                            <option value="An Giang">An Giang</option>
                            <option value="Bắc Giang">Bắc Giang</option>
                            <option value="Bắc Ninh">Bắc Ninh</option>
                            <option value="Bến Tre">Bến Tre</option>
                            <option value="Bình Dương">Bình Dương</option>
                            <option value="Bình Định">Bình Định</option>
                            <option value="Cà Mau">Cà Mau</option>
                            <option value="Cần Thơ">Cần Thơ</option>
                            <option value="Cao Bằng">Cao Bằng</option>
                            <option value="Đà Nẵng">Đà Nẵng</option>
                            <option value="Đắk Lắk">Đắk Lắk</option>
                            <option value="Điện Biên">Điện Biên</option>
                            <option value="Đồng Nai">Đồng Nai</option>
                            <option value="Đồng Tháp">Đồng Tháp</option>
                            <option value="Gia Lai">Gia Lai</option>
                            <option value="Hà Nội">Hà Nội</option>
                            <option value="Hà Tĩnh">Hà Tĩnh</option>
                            <option value="Hải Phòng">Hải Phòng</option>
                            <option value="Hưng Yên">Hưng Yên</option>
                            <option value="Khánh Hòa">Khánh Hòa</option>
                            <option value="Lai Châu">Lai Châu</option>
                            <option value="Lâm Đồng">Lâm Đồng</option>
                            <option value="Lạng Sơn">Lạng Sơn</option>
                            <option value="Lào Cai">Lào Cai</option>
                            <option value="Nghệ An">Nghệ An</option>
                            <option value="Ninh Bình">Ninh Bình</option>
                            <option value="Phú Thọ">Phú Thọ</option>
                            <option value="Quảng Ngãi">Quảng Ngãi</option>
                            <option value="Quảng Ninh">Quảng Ninh</option>
                            <option value="Thanh Hóa">Thanh Hóa</option>
                            <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
                            <option value="TP. Hồ Chí Minh">TP. Hồ Chí Minh</option>
                            <option value="Tuyên Quang">Tuyên Quang</option>
                            <option value="Vĩnh Long">Vĩnh Long</option>
                        </select>
                    </th>
                </tr>

                <tr>
                    <th>Trường THPT: </th>
                    <th>
                        <input type="text" name="THPT" placeholder="Nhập tên trường" required>
                    </th>
                </tr>

                <tr>
                    <th>Số điện thoại: </th>
                    <th>
                        <input type="text" name="SDT" placeholder="Nhập số điện thoại" required>
                    </th>
                </tr>

                <tr>
                    <th>Email: </th>
                    <th>
                        <input type="email" name="EMAIL" placeholder="Nhập địa chỉ email" required>
                    </th>
                </tr>

                <tr>
                    <th>Địa chỉ: </th>
                    <th>
                        <input type="text" name="DIACHI" placeholder="Nhập địa chỉ thường trú" required>
                    </th>
                </tr>
                
            </table>
        </div>
        <div class="form-menu">
            <label><h3>Thông tin xét tuyển</h3></label>
            <table>
                <tr>
                    <th>Phương thức xét tuyển: </th>
                    <th>
                        <select id="ptxt" name="phuongthucxettuyen" required>
                            <option value="">--Chọn--</option>
                            <% @phuongthucxettuyens.each do |pt| %>
                                <option value="<%= pt.TENPHUONGTHUC %>">
                                    <%= pt.TENPHUONGTHUC %>
                                </option>
                            <% end %>
                        </select>
                    </th>
                </tr>

                <tr>
                    <th>Loại hình đào tạo: </th>
                    <th>
                        <select id="loaihinhdaotao" name="LOAIDAOTAO" required>
                            <option value="">--Chọn--</option>
                            <option value="Chương trình đại trà">Chương trình đại trà</option>
                            <option value="Chương trình chất lượng cao">Chương trình chất lượng cao</option>
                            <option value="Chương trình đào tạo kỹ sư Nhật Bản">Chương trình đào tạo kỹ sư Nhật Bản</option>
                        </select>
                    </th>
                </tr>

                <tr>
                    <th>Ngành xét tuyển: </th>
                    <th>
                        <table class="nguyenvong-table">

                            <tr>
                                <th>Nguyện vọng 1</th>
                                <th>
                                    <select name="nguyenvong1">
                                        <option value="">--Chọn--</option>
                                        <% @nganhs.each do |nganh| %>
                                            <option value="<%= nganh.IDNGANH %>">
                                                <%= nganh.TENNGANH %>
                                            </option>
                                        <% end %>
                                    </select>
                                </th>
                            </tr>

                            <tr>
                                <th>Nguyện vọng 2</th>
                                <th>
                                    <select name="nguyenvong2">
                                        <option value="">--Chọn--</option>
                                        <% @nganhs.each do |nganh| %>
                                            <option value="<%= nganh.IDNGANH %>">
                                                <%= nganh.TENNGANH %>
                                            </option>
                                        <% end %>
                                    </select>
                                </th>
                            </tr>

                        </table>
                    </th>
                </tr>
                
            </table>
        </div>
        <div class="form-menu">
            <div id="tinhdiemhocba">
                <label><h3>Thông tin học tập</h3></label>
                <%
                    #Danh sách khối lớp
                    ds_lop = [10,11,12]

                    #Danh sách học kỳ 
                    ds_hk = [1, 2]

                    # Danh sách môn học
                    ds_mon = [
                    ["toan", "Toán"],
                    ["van", "Ngữ Văn"],
                    ["anh", "Tiếng Anh"],
                    ["ly", "Vật Lý"],
                    ["hoa", "Hóa"],
                    ["sinh", "Sinh Học"],
                    ["su", "Lịch Sử"],
                    ["dia", "Địa"],
                    ["tin", "Tin Học"],
                    ["gdkt", "GDKT và PL"],
                    ["gdcd", "GDCD"],
                    ["cn", "Công nghệ công nghiệp"],
                    ["cnn", "Công nghệ nông nghiệp"]
                    ]
                %>
                <!-- Tạo biến lớp, lấy từng phần tử lớp trong danh sách lớp -->
                <% ds_lop.each do |lop| %>

                <div class="khoi-lop">

                    <h3 class="tieu-de-lop">
                        Lớp <%= lop %>
                    </h3>

                    <% ds_hk.each do |hk| %>

                        <h4 class="tieu-de-hocky">
                            Học kì <%= hk %> lớp <%= lop %>
                        </h4>

                        <div class="luoi-mon-hoc">

                            <% ds_mon.each do |ma_mon, ten_mon| %>

                                <div class="o-mon-hoc">

                                    <label>
                                        <%= ten_mon %>
                                    </label>

                                    <input type="number"
                                        id="l<%= lop %>hk<%= hk %>-<%= ma_mon %>"
                                        min="0"
                                        max="10"
                                        step="0.1"
                                        placeholder="Nhập điểm">

                                </div>

                            <% end %>

                        </div>

                    <% end %>

                </div>

                <% end %>
            </div>
            <div id="ketqua-tohop">
                <h3>Kết quả xét học bạ</h3>
                <div class="ketqua-nganh">
                    <h4>Nguyện vọng 1</h4>
                    <p id="kq-nganh1">
                        Chưa tính điểm
                    </p>
                </div>
                <div class="ketqua-nganh">
                    <h4>Nguyện vọng 2</h4>
                    <p id="kq-nganh2">
                        Chưa tính điểm
                    </p>
                </div>
            </div>
            <div class="box-tinhdiem">
                <input type="hidden" name="DIEM_MON" id="diem_mon_hidden">
                <input type="hidden" name="TOHOP_NV1" id="tohop_nv1">
                <input type="hidden" name="TOHOP_NV2" id="tohop_nv2">
                <button type="button" id="btn-tinhdiem" class="btn-tinhdiem">
                    Tính điểm xét học bạ
                </button>
            </div>
            <table>
                <tr>
                    <th>Hạnh kiểm: </th>
                    <th>
                        <select id="hanhkiem" name="HANHKIEM" required>
                            <option value="">-- Chọn  --</option>
                            <option value="Tốt">Tốt</option>
                            <option value="Khá">Khá</option>
                            <option value="Trung bình">Trung bình</option>
                            <option value="Yếu">Yếu</option>
                        </select>
                    </th>
                </tr>

                <tr>
                    <th>Kết quả học tập năm 12: </th>
                    <th>
                        <select id="kqht" name="KQHT12" required>
                            <option value="">-- Chọn  --</option>
                            <option value="Tốt">Tốt</option>
                            <option value="Khá">Khá</option>
                            <option value="Đạt">Đạt</option>
                            <option value="Chưa Đạt">Chưa Đạt</option>
                        </select>
                    </th>
                </tr>
                <label>
                    <h3>Tải lên ảnh chụp học bạ</h3>
                </label>
                <div class="file-upload" onclick="document.getElementById('filehocba').click()">
                <input type="file" id="filehocba" name="ANHHOCBA" accept=".pdf,.jpg,.jpeg,.png" multiple>
                <span>
                    <p>📎 Click để chọn file hoặc kéo thả vào đây </p>
                    <p> (PDF, JPG, PNG - Tối đa 5MB) </p>
                </span>
            </div>
            </table>
        </div>
        <div class="form-menu">
            <label><h3>Thông tin bổ sung và nộp hồ sơ</h3></label>
            <label>
                Tải lên minh chứng học sinh giỏi, đạt giải quốc gia, vùng sâu vùng xa, kết quả thi đánh giá năng lực <br>
                (Không bắt buộc với xét học bạ)
            </label>
            <div class="file-upload" onclick="document.getElementById('filehoso').click()">
                <input type="file" id="filehoso" name="ANHGIAYTOKHAC" accept=".pdf,.jpg,.jpeg,.png" multiple>
                <span>
                    <p>📎 Click để chọn file hoặc kéo thả vào đây </p>
                    <p> (PDF, JPG, PNG - Tối đa 5MB) </p>
                </span>
            </div>
            <h3>Hoàn thành hồ sơ</h3>
            <p>Vui lòng kiểm tra lại thông tin trước khi nộp.</p>
            <button type="submit" class="btn-nop">Nộp hồ sơ</button>
        </div>
        <div class="nut-dieuhuong">
            <button type="button" onclick="buocTruoc()" class="btn-dh">← Quay lại</button>
            <button type="button" onclick="buocTiepTheo()" class="btn-dh">Tiếp theo →</button>
        </div>
    </form>
</div>
<div class="footer">
    <div class="footer-content">
        <div class="footer1">
            <h3>Về Chúng Tôi</h3>
            <p style="color: #94a3b8; line-height: 1.8;">
                Hệ thống tư vấn tuyển sinh.
            </p>
        </div>
        <div class="footer1">
            <h3>Liên Kết Nhanh</h3>
            <ul>
                <li>Ngành học<</li>
                <li>Lịch tuyển sinh</li>
                <li>Nộp hồ sơ</li>
                <li>Câu hỏi thường gặp</li>
            </ul>
        </div>
        <div class="footer1">
            <h3>Liên Hệ</h3>
            <ul>
                <li>Hotline: 123</li>
                <li>Email: tuyensinh@vlute.edu.vn</li>
                <li>Địa chỉ: Vĩnh Long</li>
                <li>Giờ làm việc: 8:00 - 17:00</li>
            </ul>
        </div>
    </div>
    <div class="footer2">
        <p>&copy; 2026 Hệ Thống Tư Vấn Tuyển Sinh </p>
    </div>
</div>


<script>

    let buocht = 0;
    const danhSachForm = document.querySelectorAll(".form-menu");
    const danhSachTieuDe = document.querySelectorAll(".menu2");

    function hienThiBuoc(soBuoc){

        // ẩn tất cả form
        danhSachForm.forEach(form =>
            form.classList.remove("active")
        );

        // reset thanh bước
        danhSachTieuDe.forEach(b =>
            b.classList.remove("active")
        );

        // hiện bước hiện tại
        danhSachForm[soBuoc].classList.add("active");
        danhSachTieuDe[soBuoc].classList.add("active");
    }


    // tiếp tục
    async function buocTiepTheo(){
        if (!kiemTraBuoc()) return;

        // nếu đang ở bước 1 thì kiểm tra CCCD
        if (buocht === 0) {

            let hopLe = await docCCCD();

            if (!hopLe) return; 
        }

        if(buocht < danhSachForm.length - 1){
            buocht++;
            hienThiBuoc(buocht);
        }
    }


    // quay lại
    function buocTruoc(){

        if(buocht > 0){
            buocht--;
            hienThiBuoc(buocht);
        }
    }


    // kiểm tra bước hiện tại
    function kiemTraBuoc() {
        let hopLe = true;

        // Lấy các input trong bước 
        const formHienTai = danhSachForm[buocht];
        const inputs = formHienTai.querySelectorAll(
            'input:not([type="hidden"]), select'
        );

        inputs.forEach(input => {
            if (input.value === "") {
                hopLe = false;
                input.style.border = "2px solid red"; // tô đỏ nếu thiếu
            } else {
                input.style.border = "";
            }
        });

        if (!hopLe) {
            alert("Vui lòng nhập đầy đủ thông tin trước khi sang bước tiếp theo!");
        }

        return hopLe;
    }
   
   // hàm xác thực CCCD bằng ảnh mặt trước
   async function docCCCD() {

        const fileTruoc =
            document.getElementById("filecccdt").files[0];

        if (!fileTruoc) {

            alert("Vui lòng tải ảnh CCCD!");

            return false;
        }

        document.body.style.cursor = "wait";

        try {

            const formData = new FormData();

            formData.append("filecccdt", fileTruoc);

            // lấy CSRF token Rails
            const token = document.querySelector(
                'meta[name="csrf-token"]'
            ).content;

            const response = await fetch(
                "/xac-thuc-cccd",
                {
                    method: "POST",

                    headers: {
                        "X-CSRF-Token": token
                    },

                    body: formData
                }
            );

            // kiểm tra lỗi server
            if (!response.ok) {

                const text = await response.text();

                console.log(text);

                throw new Error("Server lỗi!");
            }

            const data = await response.json();

            document.body.style.cursor = "default";

            console.log(data);

            if (data.success) {

                alert("Xác thực thành công!");

                return true;

            } else {

                alert("Không phải CCCD!");

                return false;
            }

        } catch (error) {

            document.body.style.cursor = "default";

            console.error(error);

            alert("Lỗi xác thực CCCD!");

            return false;
        }
    }

    // xử lý ẩn hiện phần nhập điểm
    const ptxt = document.getElementById("ptxt");
    const khoiNhapDiem = document.getElementById("tinhdiemhocba");
    const ketquaTohop = document.getElementById("ketqua-tohop");
    function capNhatNhapDiem() {

        if (ptxt.value === "Xét học bạ") {

            khoiNhapDiem.style.display = "block";
            ketquaTohop.style.display = "block";

        } else {

            khoiNhapDiem.style.display = "none";
            ketquaTohop.style.display = "none";
        }
    }

    // khi đổi phương thức xét tuyển
    ptxt.addEventListener("change", capNhatNhapDiem);

    // chạy lần đầu
    capNhatNhapDiem();

    // =======================
    // DANH SÁCH MÔN
    // =======================

    const dsMon = [
        "toan",
        "van",
        "anh",
        "ly",
        "hoa",
        "sinh",
        "su",
        "dia",
        "tin",
        "gdkt",
        "gdcd",
        "cn",
        "cnn"
    ];


    // =======================
    // TÍNH ĐIỂM TRUNG BÌNH 1 MÔN
    // =======================

    function tinhDiemTrungBinhMon(maMon) {

        let tong = 0;
        let dem = 0;

        [10,11,12].forEach(lop => {

            [1,2].forEach(hk => {

                const input = document.getElementById(
                    `l${lop}hk${hk}-${maMon}`
                );

                let diem = parseFloat(input.value);

                if (!isNaN(diem)) {

                    tong += diem;
                    dem++;
                }

            });

        });

        if (dem === 0) return 0;

        return tong / dem; 
    }


    // =======================
    // TÍNH TOÀN BỘ ĐIỂM MÔN
    // =======================

    function layTatCaDiemMon() {

        return {

            toan: tinhDiemTrungBinhMon("toan"),
            van: tinhDiemTrungBinhMon("van"),
            anh: tinhDiemTrungBinhMon("anh"),
            ly: tinhDiemTrungBinhMon("ly"),
            hoa: tinhDiemTrungBinhMon("hoa"),
            sinh: tinhDiemTrungBinhMon("sinh"),
            su: tinhDiemTrungBinhMon("su"),
            dia: tinhDiemTrungBinhMon("dia"),
            tin: tinhDiemTrungBinhMon("tin"),
            gdkt: tinhDiemTrungBinhMon("gdkt"),
            gdcd: tinhDiemTrungBinhMon("gdcd"),
            cn: tinhDiemTrungBinhMon("cn"),
            cnn: tinhDiemTrungBinhMon("cnn")

        };
    }


    // =======================
    // MAP TÊN MÔN
    // API -> INPUT
    // =======================

    const mapMonHoc = {

        "Toán": "toan",

        "Ngữ văn": "van",
        "Ngữ Văn": "van",
        "Văn": "van",

        "Tiếng Anh": "anh",
        "Anh": "anh",

        "Vật lý": "ly",
        "Vật Lý": "ly",
        "Lý": "ly",

        "Hóa học": "hoa",
        "Hóa": "hoa",

        "Sinh học": "sinh",
        "Sinh Học": "sinh",
        "Sinh": "sinh",

        "Lịch sử": "su",
        "Lịch Sử": "su",
        "Sử": "su",

        "Địa lý": "dia",
        "Địa": "dia",

        "Tin học": "tin",
        "Tin Học": "tin",
        "Tin": "tin",

        "GDKTPL": "gdkt",
        "GDKT và PL": "gdkt",

        "GDCD": "gdcd",

        "Công nghệ": "cn",
        "Công nghệ công nghiệp": "cn",

        "Công nghệ nông nghiệp": "cnn"
    };

    // =======================
    // TÍNH ĐIỂM 1 TỔ HỢP
    // =======================

    function tinhDiemToHop(tohop, diemMon) {

        let tong = 0;

        // lấy 3 môn trong tổ hợp
        const dsMonHoc = [
            tohop.MON1,
            tohop.MON2,
            tohop.MON3
        ];

        for (let mon of dsMonHoc) {

            if (!mon) continue;

            mon = mon.trim();

            let maMon = mapMonHoc[mon];

            if (!maMon) {

                console.log("Không map được môn:", mon);

                return 0;
            }

            tong += diemMon[maMon];
        }

        return tong;
    }

    // =======================
    // LẤY TỔ HỢP CAO NHẤT
    // =======================

    async function tinhToHopCaoNhat(idNganh, elementId) {

        if (!idNganh) return;

        try {

            const response = await fetch(
                `/lay-tohop/${idNganh}`
            );

            if (!response.ok) {
                throw new Error("Không lấy được tổ hợp");
            }

            const data = await response.json();

            const dsToHop = data.data || data;

            const diemMon = layTatCaDiemMon();

            let maxDiem = 0;

            let tenToHop = "";

            dsToHop.forEach(th => {
                console.log("TO HOP:", th);

                const diem = tinhDiemToHop(
                    th,
                    diemMon
                );

                if (diem > maxDiem) {

                    maxDiem = diem;

                    tenToHop = th.TENTOHOP;

                    if(elementId === "kq-nganh1"){
                        document.getElementById("tohop_nv1").value = tenToHop;
                    }

                    if(elementId === "kq-nganh2"){
                        document.getElementById("tohop_nv2").value = tenToHop;
                    }
                }

            });

            document.getElementById(elementId).innerHTML = `
                Tổ hợp cao nhất:
                <b>${tenToHop}</b>
                <br>
                Điểm xét học bạ:
                <b>${maxDiem.toFixed(2)}</b>
            `;

        } catch(error) {

            console.error(error);

        }
    }

    // =======================
    // TỰ ĐỘNG TÍNH
    // =======================

    const nv1 = document.querySelector(
        'select[name="nguyenvong1"]'
    );

    const nv2 = document.querySelector(
        'select[name="nguyenvong2"]'
    );


    // =======================
    // BUTTON TÍNH ĐIỂM
    // =======================

    const btnTinhDiem =
        document.getElementById("btn-tinhdiem");

    btnTinhDiem.addEventListener("click", async () => {

        if (!nv1.value && !nv2.value) {

            alert("Vui lòng chọn ngành xét tuyển!");

            return;
        }

        // tính nguyện vọng 1
        if (nv1.value) {

            await tinhToHopCaoNhat(
                nv1.value,
                "kq-nganh1"
            );
        }

        // tính nguyện vọng 2
        if (nv2.value) {

            await tinhToHopCaoNhat(
                nv2.value,
                "kq-nganh2"
            );
        }

        const diemMon = layTatCaDiemMon();

        document.getElementById("diem_mon_hidden").value = JSON.stringify(diemMon);
    });


    // khi đổi ngành
    nv1.addEventListener("change", () => {

        tinhToHopCaoNhat(
            nv1.value,
            "kq-nganh1"
        );

    });

    nv2.addEventListener("change", () => {

        tinhToHopCaoNhat(
            nv2.value,
            "kq-nganh2"
        );

    });
</script>