<header>
    <nav>
        <div class="logo">
            <%= image_tag "logovlute.png",  width: 50 %>
            Hệ Thống Tư Vấn Tuyển Sinh
        </div>
        <ul class="menu">
            <li><%= link_to "Trang chủ", trangchu_index_path %></li>
            <li><%= link_to "Thông Tin Trường", thongtintruong_thongtintruong_path %></li>
            <li>Tin Tức</li>
            <li>Ngành Học</li>
            <li><%= link_to "Lịch Tuyển Sinh", lichtuyensinh_lichtuyensinh_path %></li>
            <li><%= link_to "Nộp hồ sơ", nophoso_nophoso_path %></li>
            <li><%= link_to "Đăng nhập", dangnhap_dangnhap_path %></li>
        </ul>
    </nav>
</header>

<div class="page-wrapper">
 
<main class="article-main">
    <div class="article-meta">
        <span class="article-tag">Tin tức</span>
        <span class="article-date">19/03/2026</span>
    </div>
    <h1 class="article-title">
        VLUTE "Tiếp nhận thiết bị tài trợ đào tạo lĩnh vực ô tô điện"
    </h1>

    <hr class="article-divider">
    <p class="article-lead">
        Sáng 19/3/2026, tại Nhà thi đấu đa năng, Trường Đại học Sư phạm Kỹ thuật Vĩnh Long (VLUTE) đã tổ chức chương trình "Tiếp nhận thiết bị tài trợ đào tạo lĩnh vực ô tô điện" với sự tham gia của nhiều doanh nghiệp, cơ sở giáo dục và đông đảo giảng viên, sinh viên.
    </p>
    <div class="article-body">
        <p>
            Tham dự chương trình có ông Lý Văn Tân, Trưởng phòng Vận hành Hậu mãi Ô tô Miền Nam 3; Ông Nguyễn Hữu Long và Ông Nguyễn Thế Hùng – Quản lý vùng, các lãnh đạo đến từ các công ty chi nhánh của VinFast thuộc khu vực Tây Nam Bộ, cùng lãnh đạo các cơ sở giáo dục.
        </p>
        <p>
            Về phía VLUTE có PGS.TS. Nguyễn Thanh Tùng – Hiệu trưởng, PGS.TS. Phan Anh Cang – Phó hiệu trưởng, PGS.TS. Phùng Thế Tuấn – Phó hiệu trưởng, cùng quý thầy cô là trưởng các đơn vị, giảng viên và sinh viên Khoa Cơ khí động lực.
        </p>
    </div>
</main>
</div>
<footer>
    <div class="footer-content">
        <div class="footer1">
            <h3>Về Chúng Tôi</h3>
            <p style="color: #94a3b8; line-height: 1.8;">
                Hệ thống tư vấn tuyển sinh.
            </p>
        </div>
        <div class="footer1">
            <h3>Liên Kết Nhanh</h3>
            <ul>
                <li>Ngành học<</li>
                <li>Lịch tuyển sinh</li>
                <li>Nộp hồ sơ</li>
                <li>Câu hỏi thường gặp</li>
            </ul>
        </div>
        <div class="footer1">
            <h3>Liên Hệ</h3>
            <ul>
                <li>Hotline: 123</li>
                <li>Email: tuyensinh@vlute.edu.vn</li>
                <li>Địa chỉ: Vĩnh Long</li>
                <li>Giờ làm việc: 8:00 - 17:00</li>
            </ul>
        </div>
    </div>
    <div class="footer2">
        <p>&copy; 2026 Hệ Thống Tư Vấn Tuyển Sinh </p>
    </div>
</footer>