<div class="header">
        <div class="logo">
            <%= image_tag "logovlute.png",  width: 50 %>
            Hệ Thống Tư Vấn Tuyển Sinh
        </div>
        <ul class="menu">
            <li><%= link_to "Trang chủ", trangchu_index_path %></li>
            <li><%=link_to "QL tài khoản", qltaikhoan_qltaikhoan_path %></li>
            <li><%=link_to "Xử lý hồ sơ thí sinh", xlhoso_xlhoso_path %></li>
            <li>QL thông tin tuyển sinh</li>
            <li>QL ngành học</li>
            <li><%=link_to "QL tin tức", qltintuc_qltintuc_path %></li>
            <li>Chatbot AI</li>
            <li>Thống kê và báo cáo</li>
        </ul>
</div>
<main>
            <table class="bang">
                    <tr class="head">
                        <th>STT</th>
                        <th>Mã hồ sơ</th>
                        <th>Tên thí sinh</th>
                        <th>CCCD</th>
                        <th>Tỉnh thường trú</th>
                        <th>Trường THPT</th>
                        <th>Phương thức xét tuyển</th>
                        <th>Hạnh kiểm</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>01</th>
                        <th>001</th>
                        <th>Nguyễn Văn A</th>
                        <th>0123456789</th>
                        <th>Vĩnh Long</th>
                        <th>Nguyễn Thông</th>
                        <th>Xét học bạ</th>
                        <th>Tốt</th>
                        <th>Chưa duyệt</th>
                        <th><button class="btn-chitiet"><%=link_to "Chi tiết", cthoso_cthoso_path %></button></th>
                    </tr>
            </table>
</main>

<div class="footer">
    <div class="footer-content">
        <div class="footer1">
            <h3>Về Chúng Tôi</h3>
            <p style="color: #94a3b8; line-height: 1.8;">
                Hệ thống tư vấn tuyển sinh.
            </p>
        </div>
        <div class="footer1">
            <h3>Liên Kết Nhanh</h3>
            <ul>
                <li>Ngành học<</li>
                <li>Lịch tuyển sinh</li>
                <li>Nộp hồ sơ</li>
                <li>Câu hỏi thường gặp</li>
            </ul>
        </div>
        <div class="footer1">
            <h3>Liên Hệ</h3>
            <ul>
                <li>Hotline: 123</li>
                <li>Email: tuyensinh@vlute.edu.vn</li>
                <li>Địa chỉ: Vĩnh Long</li>
                <li>Giờ làm việc: 8:00 - 17:00</li>
            </ul>
        </div>
    </div>
    <div class="footer2">
        <p>&copy; 2026 Hệ Thống Tư Vấn Tuyển Sinh </p>
    </div>
</div>

